

section {
    padding: 32px;

    .category-header {
        border: 1px solid #c69f73;
        padding: 16px 32px;
        width: 250px;
    }

    .category-container {
        img {
            height: 100px;
        }
    }
}