<mat-card>
    <img [style.maxWidth.px]="maxWidth" [style.maxHeight.px]="maxHeight" mat-card-image
        src="{{post.imagePath}}/{{post.image}}"
        alt="Photo of a Shiba Inu">
    <mat-card-content class="no-margin">
        <div fxLayout="column">
            <h2 class="title no-margin cursor-pointer">{{post.title}}</h2>
            <div fxLayout="row wrap" fxLayoutALign="flex-start center"  fxLayoutGap="10px" class="text-sub-heading">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>update</mat-icon>
                    <span>2 days ago</span>
                </div>
                <!-- <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>comments</mat-icon>
                    <span>0 Comments</span>
                </div> -->
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>category</mat-icon>
                    <span>{{post.category.name}}</span>
                </div>
            </div>
            <div class="content">
                {{post.content}}
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="showReadMore">
        <button mat-button [routerLink]="['/post-detail', post.id]">Read More
            <mat-icon>arrow_right_alt</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>