.left-section {
    background: url('../../assets/images/main-advert.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.swiper-container {
    height: 400px;
}