<section>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0px" >
        <div fxFlex="33" fxFlex.xs="100" class="browse" fxLayoutAlign="center center">
            <span>BROWSE</span>
        </div>
        <div fxFlex="33" fxFlex.xs="100"  class="browse" fxLayoutAlign="center center">
            <span>ABOUT ME</span>
        </div>
        <div fxFlex="33" fxFlex.xs="100"  class="browse" fxLayoutAlign="center center">
            <span>BROWSE</span>
        </div>
    </div>
</section>