
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue-gray, 800);
$candy-app-accent:  mat-palette($mat-amber,A100);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);



// GLOBAL STYLES

body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.text-sub-heading {
    color: #909090;
}

.no-margin {
    margin: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.text-primary {
   color:  #37474F !important;
}

.text-accent {
    color:  #c69f73 !important;
}

.text-ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-ellipses {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 1170px) and (min-width: 942px) {
.container {
    width: 940px;
}
}

@media only screen and (max-width: 800px) {
.container {
    width: 100% !important;
}
}


